<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <img src="../images/whitelogo.png" width="20%" height="20%" alt="whitelogo">
                <br><br><br>
                <h2 class="section-heading">수학으로부터의 자유를</h2>
                <hr class="light">
                <p class="text-faded">거침없는 열정으로,</p>
                <p class="text-faded">최고의 실적으로, </p>
                <p class="text-faded">특별한 가르침으로</p>

                <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">시작합니다</a>
            </div>
        </div>
    </div>
</section>