<header id="top" class="header bg-primary">
    <div class="text-vertical-center">
        <span class="fa-stack fa-5x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-user fa-stack-1x text-primary"></i>
        </span><br><br><br>
        <span class="name">윤지우</span><br>
        <span class="skills"><i class="xi-school"> 부산외국어고등학교</i></span><br>
        <span class="skills"><i class="xi-cake"> 1995.05.11</i></span><br>
        <span class="skills"><i class="xi-pen"> 고1</i></span><br>
        <span class="skills"><i class="xi-mobile"> 학생 번호: 010-1234-5678</i></span><br>
        <span class="skills"><i class="xi-call"> 학부모 번호: 00-1234-5678</i></span>
    </div>
</header>