<!-- Navigation -->

<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand">
            <a href="#top" onclick=$("#menu-close").click();>학부모페이지</a>
        </li>
        <li>
            <a href="#top" onclick=$("#menu-close").click();>홈</a>
        </li>
        <li>
            <a href="#about" onclick=$("#menu-close").click();>수강료안내</a>
        </li>
        <li>
            <a href="#services" onclick=$("#menu-close").click();>선생님 게시판</a>
        </li>
        <li>
            <a href="#portfolio" onclick=$("#menu-close").click();>강좌별 학생정보</a>
        </li>
        <li>
            <a href="#contact" onclick=$("#menu-close").click();>문의</a>
        </li>
    </ul>
</nav>