<!DOCTYPE html>
<html lang="ko">

<head>

    <% include head/head.ejs %>

</head>

<body>
<% include navigation/navigation.ejs %>


<!-- Header -->
<% include body/header.ejs %>



<!-- About -->
<% include body/fee.ejs %>


<!-- Services -->
<% include body/teacher_contact.ejs %>
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->





<!-- Portfolio -->
<% include body/student_info.ejs %>

<% include body/class_modals.ejs%>









<!-- Footer -->
<% include footer/footer.ejs %>

<% include footer/scripts.ejs %>





</body>


</html>