<!DOCTYPE html>
<html lang="ko">

<head>

    <% include head.ejs %>

</head>

<body>
<% include navigation.ejs %>


<!-- Header -->
<% include header.ejs %>



<!-- About -->
<% include fee.ejs %>


<!-- Services -->
<% include teacher_contact.ejs %>
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->





<!-- Portfolio -->
<% include student_info.ejs %>

<% include class_modals.ejs%>









<!-- Footer -->
<% include footer.ejs %>

<% include scripts.ejs %>





</body>


</html>