<section id="services" class="services bg-primary">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>선생님 게시판</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>미적분 심화과정</strong>
                            </h4>
                            <p>이정현 선생님</p>
                            <p>화목: 02:00~05:00</p>
                            <a href="#" class="btn btn-light">To.선생님</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-compass fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>수1 기본과정</strong>
                            </h4>
                            <p>권준형 선생님</p>
                            <p>월목: 03:00~0700</p>
                            <a href="#" class="btn btn-light">To.선생님</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-flask fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>기벡 겨울특강</strong>
                            </h4>
                            <p>윤지우 선생님</p>
                            <p>토일: 02:00~06:00</p>
                            <a href="#" class="btn btn-light">To.선생님</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-shield fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>성교육 실전 특강</strong>
                            </h4>
                            <p>신현종 선생님</p>
                            <p>월화수목금: 01:00~10:00</p>
                            <a href="#" class="btn btn-light">To.선생님</a>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>