<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>수학에 美親 사람들 포털</title>
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>
    <!-- XEicon CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/xeicon/2/xeicon.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/animate.min.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.css'/>
    <link rel="shortcut icon" href="../images/favicon.ico">
  </head>
  <body>
  <section class="background">
    <header>
      <!-- 상단 네비게이션 바 -->
      <div class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">
              <img alt="Brand" src="../images/logo_bottom.png">
            </a>
            <!-- 브라우저가 좁아졋을때 나오는 버튼(클릭시 메뉴출력) -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <!--우측 메뉴-->
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#about">수미사</a></li>
              <li><a href="#contact">문의</a></li>
              <li class="active"><a href="./"><i class="xi-profile xi-x"></i> 로그인</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
  <div class="container">
    <div class=" col-sm-12">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br><br><br><br><br><br>
  </div>
  </div>
  <!--로그인창-->
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <section class="login">
            <h1 class="text animated fadeInDown">수학의로부터의 자유를</h1>
            <form method="post" action="/submit">
              <input type="text" class="form-control" name="ID" placeholder="ID">
              <input type="password" class="form-control" name="PASSWORD" placeholder="PASSWORD">
              <button name="login_button" type="submit" class="btn btn-primary btn-block">Login</button></form>
          </section>
          </div>
        </div>
      </div>
    </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
    </section>
  </body>
  <!--하단 배너-->
  <footer>
    <div class="container">
      <section class="bottom">
        <img src="../images/yellow.png" width="8%" height="8%" alt="bottomimage" align="left">
        <section class="bottom_text">
          <span>[대치관] 강남구 도곡로 501, 5층(대치동, 에스엠타워) | </span>
          <span>전화번호 : 02-2202-4567 , 553-0043</span><br>
          <span>사업자등록번호 : 120-88-08828 | </span>
          <span>회사명 : (주) 수학에미친사람들 | </span>
          <span>대표자 : 황옥수</span><br>
          <span>본 홈페이지에 게시된 이메일 주소가 자동 수집되는 것을 거부하여 이를 위반시 정보통신망법에 의해 처벌됨을 유념하시기 바랍니다.</span><br>
        </section>
          <span>Copyright(C) 2014 수학에 美親 사람들. QuadJSoft. All rights reserved.</span>
      </section>
    </div>
  </footer>
</html>
