<!DOCTYPE html>
<html lang="ko">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>수학에 美親 사람들 포털</title>

  <!-- Bootstrap Core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

  <!-- Plugin CSS -->
  <link href="../vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

  <!-- Theme CSS -->
  <link href="/stylesheets/creative.css" rel="stylesheet">
  <!-- My CSS-->
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/xeicon/2/xeicon.min.css">


  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body id="page-top">

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#page-top"><i class="xi-profile xi-x"></i> 로그인</a></li>
        <li>
          <a class="page-scroll" href="#about">수학에 美親 사람들</a>
        </li>
        <li>
          <a class="page-scroll" href="#services">지점</a>
        </li>
        <li>
          <a class="page-scroll" href="#portfolio">갤러리</a>
        </li>
        <li>
          <a class="page-scroll" href="#contact">문의</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<header>
  <div class="header-content">
    <div class="header-content-inner">
      <!--로고-->
        <img src="../images/logo_bottom.png" width="40%" height="40%" alt="logo">
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <!--로그인창-->
          <div class="container">
            <div class="row">
              <div class="col-md-4">

                <form method="post" action="/submit">
                  <input type="text" class="form-control" name="ID" placeholder="아이디를 입력하세요">
                  <input type="password" class="form-control" name="PASSWORD" placeholder="패스워드를 입력하세요">
                  <button name="login_button" type="submit" class="btn btn-primary btn-block">로그인</button></form>
              </div>
            </div>
          </div>
    </div>
  </div>
</header>

<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <img src="../images/whitelogo.png" width="20%" height="20%" alt="whitelogo">
        <br><br><br>
        <h2 class="section-heading">수학으로부터의 자유를</h2>
        <hr class="light">
        <p class="text-faded">거침없는 열정으로,</p>
        <p class="text-faded">최고의 실적으로, </p>
        <p class="text-faded">특별한 가르침으로</p>

        <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">시작합니다</a>
      </div>
    </div>
  </div>
</section>

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">지역별 수미사</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
          <h3>대치관</h3>
          <p class="text-muted">강남구 대치동</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
          <h3>반포관</h3>
          <p class="text-muted">서초구 반포동</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
          <h3>중계관</h3>
          <p class="text-muted">노원구 중계동</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
          <h3>서초관</h3>
          <p class="text-muted">서초구 서초</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
          <h3>분당관</h3>
         <p class="text-muted">분당구 정자동</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
          <h3>의정부관</h3>
          <p class="text-muted">의정부시 금오동</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="no-padding" id="portfolio">
  <div class="container-fluid">
    <div class="row no-gutter popup-gallery">

      <div class="col-lg-4 col-sm-6">
        <a href="../images/main_background.jpg" class="portfolio-box">
          <img src="../img/portfolio/thumbnails/1.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="../img/portfolio/fullsize/2.jpg" class="portfolio-box">
          <img src="../img/portfolio/thumbnails/2.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="../img/portfolio/fullsize/3.jpg" class="portfolio-box">
          <img src="../img/portfolio/thumbnails/3.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="../img/portfolio/fullsize/4.jpg" class="portfolio-box">
          <img src="../img/portfolio/thumbnails/4.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="../img/portfolio/fullsize/5.jpg" class="portfolio-box">
          <img src="../img/portfolio/thumbnails/5.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="../img/portfolio/fullsize/6.jpg" class="portfolio-box">
          <img src="../img/portfolio/thumbnails/6.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<aside class="bg-dark">
  <div class="container text-center">
    <div class="call-to-action">
      <h2>수미사에서 수학의 가치를 높이세요</h2>
    </div>
  </div>
</aside>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">문의</h2>
        <hr class="primary">
        <span>[대치관] 강남구 도곡로 501, 5층(대치동, 에스엠타워) | </span>
        <span>전화번호 : 02-2202-4567 , 553-0043</span><br>
        <span>사업자등록번호 : 120-88-08828 | </span>
        <span>회사명 : (주) 수학에미친사람들 | </span>
        <span>대표자 : 황옥수</span><br>
        <span>본 홈페이지에 게시된 이메일 주소가 자동 수집되는 것을 거부하여 이를 위반시 정보통신망법에 의해 처벌됨을 유념하시기 바랍니다.</span><br>
        <span>Copyright(C) 2014 수학에 美親 사람들. QuadJSoft. All rights reserved.</span>
      </div>

    </div>
  </div>
</section>

<!-- jQuery -->
<script src="../vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="../vendor/scrollreveal/scrollreveal.min.js"></script>
<script src="../vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Theme JavaScript -->
<script src="../javascripts/creative.min.js"></script>

</body>

</html>
