<section id="contact" class="bg-primary">
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">문의</h2>
                <hr class="primary">
                <span>[대치관] 강남구 도곡로 501, 5층(대치동, 에스엠타워) | </span>
                <span>전화번호 : 02-2202-4567 , 553-0043</span><br>
                <span>사업자등록번호 : 120-88-08828 | </span>
                <span>회사명 : (주) 수학에미친사람들 | </span>
                <span>대표자 : 황옥수</span><br>
                <span>본 홈페이지에 게시된 이메일 주소가 자동 수집되는 것을 거부하여 이를 위반시 정보통신망법에 의해 처벌됨을 유념하시기 바랍니다.</span><br>
                <span>Copyright(C) 2014 수학에 美親 사람들. QuadJSoft. All rights reserved.</span>
            </div>
        </div>

    </div>
    <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
</footer>
</section>