<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="ko" ng-app="app.todoapp">
<head>
    <% include header/header.ejs %>
</head>

<body class="skin-blue sidebar-mini">
    <!--hold-transition-->
    <% include body/body.ejs%>

    <% include footer/footer.ejs %>

</body>
</html>