<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <span class="chart_title"> 성적 현황</span>
                <br>
                <br>
                <div class="scoregraph">
                    <canvas id="canvas" width="100%" height="400%"></canvas>
                </div>
                <script>
                    var config = {
                        type: 'line',
                        data: {
                            labels: ["1월", "2월", "3월", "4월", "5월", "6월", "7월"],
                            datasets: [{
                                label: "내점수",
                                fill: false,
                                backgroundColor: "#ffffff",
                                borderColor: "#ffffff",
                                data: [
                                    43,23,14,35,65,34,64

                                ],
                            }, {
                                label: "반평균",
                                fill: false,
                                backgroundColor: "#ffffff",
                                borderColor: "#ffffff",
                                borderDash: [5, 5],
                                data: [
                                    10,20,40,24,35,67,14

                                ],
                            },
                                ]
                        },
                        options: {

                            legend: {
                                labels:
                                    {
                                        fontColor:"#fff",

                                    }
                            },
                            responsive: true,
                            maintainAspectRatio: false,
                            tooltips: {
                                mode: 'index',
                                intersect: false,
                            },
                            hover: {
                                mode: 'nearest',
                                intersect: true
                            },
                            scales: {
                                xAxes: [{
                                    display: true,
                                    scaleLabel: {
                                        display: true,
                                        labelString: '월',
                                        fontColor: "#fff"
                                    },
                                    gridLines:{
                                        color:"#22394b",
                                    },
                                    ticks:{
                                        fontColor:"#ffffff"
                                    }
                                }],
                                yAxes: [{
                                    display: true,
                                    scaleLabel: {
                                        display: true,
                                        labelString: '점수',
                                        fontColor: "#fff"
                                    },
                                    gridLines:{
                                        color:"#2d556c",
                                    },
                                    ticks:{
                                        fontColor:"#ffffff"
                                    }
                                }]
                            }
                        }
                    };

                    window.onload = function() {
                        var ctx = document.getElementById("canvas").getContext("2d");
                        window.myLine = new Chart(ctx, config);
                    };
                </script>



            </div>
        </div>
    </div>
</section>