body {
    background: #fcfcfc;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
    font-size: 15px
}
a {
    text-decoration: none
}
.row-heading {
    font-weight: 500;
    font-size: .7em;
    text-transform: uppercase
}
.timetable .time-label {
    font-size: .8em;
    font-weight: 500
}
.timetable .time-entry.vip-only {
    background-color: #f5a646;
    border: 1px solid #f5a646;
}
.timetable .time-entry.vip-only:hover {
    background-color: #8d6128
}



.timetable .time-entry.class1 {
    background-color: #ef6447;
    border: 1px solid #ef776c;
}
.timetable .time-entry.class1:hover {
    background-color: #9e514c
}

.timetable .time-entry.class2 {
    background-color: #c786ff;
    border: 1px solid #c786ff;
}
.timetable .time-entry.class2:hover {
    background-color: #663b80
}

.timetable .time-entry.class3 {
    background-color: #48c246;
    border: 1px solid #48c246;
}
.timetable .time-entry.class3:hover {
    background-color: #289e3b
}
