body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('../images/main_background.jpg');
  background-repeat:no-repeat;
  background-size: cover;
}
img{
  position: absolute;
  left: 480px;
  top: -100px;
  width: 500px;
  height: 500px;
  text-align: center;
  display; block;
}
.loginForm{
  border:5px solid red;
  background-color: black;
}


a {
  color: #00B7FF;
}
