@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejuhallasan.css);
/* 상단 이미지*/



/*로그인창*/
.text{
  font-size: 26px;
  margin-left: 19%;
}

input[name="ID"]{

  padding:27px;
  background-color: rgba(0,0,0,0.7);
  border-radius: 10px;

  color: #ffffff;

}
input[name="PASSWORD"]{

  padding:27px;
  margin-top: 1%;
  background-color: rgba(0,0,0,0.7);
  border-radius: 10px;
  color: #ffffff;
}

button[name="login_button"]{

  margin-top: 1%;
  padding:18px;
  border-radius: 10px;
}
.login{

  margin-top: 100px;
}



@media (max-width: 768px){
  img[alt="whitelogo"]{
    width: 35%;

  }

}


















