<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>수미사 교사 페이지</title>
<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<!-- Bootstrap 3.3.6 -->
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="/dist/css/AdminLTE.min.css">

<!-- daterange picker -->
<link rel="stylesheet" href="/plugins/daterangepicker/daterangepicker.css">
<!-- bootstrap datepicker -->
<link rel="stylesheet" href="/plugins/datepicker/datepicker3.css">
<!-- AdminLTE Skins. We have chosen the skin-blue for this starter
      page. However, you can choose any other skin. Make sure you
      apply the skin class to the body tag so the changes take effect.
-->
<link rel="stylesheet" href="/dist/css/skins/skin-blue.css">
<link rel="stylesheet" href="/stylesheets/todoapp.css">
<link rel="stylesheet" href="/stylesheets/angular-datatables.css">
<link rel="stylesheet" href="/plugins/datatables/jquery.dataTables.css">

<style type="text/css">
    .link{
        background: #222;
        background: -moz-linear-gradient(#252525, #0A0A0A) ;
        background: -o-linear-gradient(#252525, #0A0A0A);
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#252525), to(#0A0A0A));
        background: -webkit-linear-gradient(#252525, #0A0A0A);
        -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
        -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
        color:#fff;
        padding: 8px 10px;
        text-decoration: none;
        font-weight: normal;
        font-size: 18px;
        font-family: Arial,Verdana;
        word-spacing: 1px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -o-border-radius: 4px;
        -ms-border-radius: 4px;
    }
    .link:hover{
        text-decoration: none;
        color: #fff;
        background:#62ABD8 !important;
        background: -moz-linear-gradient(#80BADE, #62ABD8) ;
        background: -o-linear-gradient(#80BADE, #62ABD8);
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#80BADE), to(#62ABD8));
        background: -webkit-linear-gradient(#80BADE, #62ABD8);
        -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
        -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
    }
    .link:active{
        background:#62ABD8 !important;
        background: -moz-linear-gradient(#80BADE, #62ABD8) ;
        background: -o-linear-gradient(#80BADE, #62ABD8);
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#80BADE), to(#62ABD8));
        background: -webkit-linear-gradient(#80BADE, #62ABD8);
        -webkit-box-shadow: inset rgba(0, 0, 0, 0.4) 0px 1px 2px;
        -moz-box-shadow: inset rgba(0, 0, 0, 0.4) 0px 1px 2px;
        box-shadow: inset rgba(0, 0, 0, 0.4) 0px 1px 2px;
    }
</style>






<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->