<div class="wrapper">

    <!-- 메인 헤더 -->
    <% include top/mainheader.ejs %>

    <!-- 좌측 메누 (어사이드바) -->
    <% include left/sidebar.ejs %>


    <!-- Content Wrapper. Contains page content -->
    <% include main/maincontent.ejs %>

    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <% include bottom/mainfooter.ejs %>


    <!-- Control Sidebar -->
    <% include right/controlbar.ejs %>

</div>
<!-- ./wrapper -->