<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            NOTICE

        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <column>
            <h3 class="header text-center">Column Name</h3>
            <card class="addCard text-center" onClick="addCard(this)"><i class="xi-plus-circle-o xi-x"></i></card>
            <card>
                <div class="pull-right">
                    <i class="xi-close-min xi-x"></i>
                </div>
                <div>


                </div>
                <h4 class="header">header</h4>
                <p>
                    Description
                </p>
                <div class="footer">
                    <div class="pull-left">
                        <i class="xi-profile xi-x"></i>
                        <i class="xi-calendar-list xi-x"></i>
                    </div>

                    <div class="pull-right">
                        <i class="xi-message-o xi-x"></i>
                        <i class="xi-caret-down-min xi-x"></i>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </card>
        </column>


    </section>
    <!-- /.content -->
</div>