<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>수학에 美親 사람들 포털 (Error)</title>

<!-- Bootstrap Core CSS -->
<link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

<!-- Plugin CSS -->
<link href="../vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

<!-- Theme CSS -->
<link href="/stylesheets/creative.css" rel="stylesheet">
<!-- My CSS-->
<link rel='stylesheet' href='/stylesheets/style.css'/>
<link rel="stylesheet" href="//cdn.jsdelivr.net/xeicon/2/xeicon.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">


<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

<![endif]-->
<SCRIPT LANGUAGE="JavaScript">
    function chkBoxCheck(intChkNumber) {

        // 체크박스 갯수만큼 반복문을 돌면서
        for (j = 0; j < 3; j++) {

            // 체크박스가 선택되어 있으면
            if (eval("document.myForm.objChkBox[" + j + "].checked") == true) {

                // 우선 체크박스의 속성을 선택되지 않음으로 하고
                document.myForm.objChkBox[j].checked = false;

                // 사용자가 클릭한 체크박스와 프로그래밍적으로 돌고 있는
                // 체크박스의 번호가 같으면
                if (j == intChkNumber) {

                    // 이런 경우만 체크박스가 선택되도록 한다...
                    document.myForm.objChkBox[j].checked = true;
                }
            }
        }
    }
</script>

