<!DOCTYPE html>
<html lang="ko" ng-app = "sumisaApp">

<head>

 <% include head/header.ejs %>

</head>

<body id="page-top">

<% include body/nav.ejs %>

<% include body/logo_and_loginwindow.ejs %>
<% include body/about.ejs %>
<% include body/branch.ejs %>
<% include body/gallery.ejs %>
<% include body/contact.ejs %>

<% include footer/footer.ejs %>
<% include ../angularFooter/angularFooter.ejs%>
</body>


</html>
