<header ng-controller="loginController">
    <div class="header-content">
        <div class="header-content-inner">
            <!--로고-->
            <img src="../images/logo_bottom.png" width="40%" height="40%" alt="logo">
            <br><br><br>
            <br><br><br>
            <!--로그인창-->
            <div class="container">
                <div class="row">
                    <div class="col-md-4">

                        <form ng-submit="submit()" >
                            <label class="radio-inline">
                                <input type="radio" name="userType" value = "student" checked = "true">학생
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="userType" value = "parent">부모님
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="userType" value = "teacher">선생님
                            </label>
                            <input type="text" class="form-control" name="ID" placeholder="아이디를 입력하세요">
                            <input type="password" class="form-control" name="PASSWORD" placeholder="패스워드를 입력하세요">
                            <button name="login_button" type="submit" class="btn btn-primary btn-block">로그인</button></form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>