<div class="wrapper">

    <!-- 메인 헤더 -->
    <% include navbar.ejs %>

    <!-- 좌측 메누 (어사이드바) -->
    <% include leftbar.ejs %>


    <!-- Content Wrapper. Contains page content -->
    <% include maincontent.ejs %>

    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <% include mainfooter.ejs %>


    <!-- Control Sidebar -->
    <% include rightbar.ejs %>

</div>
<!-- ./wrapper -->