<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
             강좌
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content" >
        <div class="row">
            <div class="col-md-12 connectedSortable">
                    <div class="box box-primary box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">강좌 형태</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>


                        <div class="box-body">
                            <div>
                                <div ng-controller="adminLectureManageController as showCase">

                                    <form ng-submit="showCase.addPerson()">

                                        <label>등록 번호:</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-file-text"></i></span>
                                            <input type="number" class="form-control" name="id" ng-model="showCase.person2Add.id" placeholder="예)1">
                                        </div>
                                        <br>

                                        <label>형태 이름:</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" class="form-control"  name="firstName" ng-model="showCase.person2Add.firstName" placeholder="예) 단과 2017년 겨울특강">
                                        </div>
                                        <br>
                                        <label>등록 날짜:</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" class="form-control" name="lastName" ng-model="showCase.person2Add.lastName" placeholder="예) 08/12/2016" data-inputmask='"mask": "99/99/9999"' data-mask>
                                        </div>
                                        <br>

                                        <div class="text-center add">
                                            <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i></button>
                                        </div>

                                        <table datatable="ng" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" class="row-border hover">
                                            <thead>
                                            <tr>
                                                <th class="text-center" style="width:8%">번호</th>
                                                <th class="text-center" style="width: 55%">형태 이름</th>
                                                <th class="text-center">등록 날짜</th>
                                                <th class="text-center"style="width:15%">편집</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="person in showCase.persons">
                                                <td class="text-center">{{ person.id }}</td>
                                                <td class="text-center">{{ person.firstName }}</td>
                                                <td class="text-center">
                                                    {{ person.lastName }}
                                                </td>
                                                <td class="text-center">
                                                    <button type="button" data-toggle="modal" data-target="{{'#modal-'+$index}}" class = "btn btn-primary"><i class="fa fa-search-plus"></i></button>
                                                    <button type="button" ng-click="showCase.modifyPerson(person)" class="btn btn-warning"><i class="fa fa-edit"></i></button>
                                                    <button type="button" ng-click="showCase.removePerson(person)" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>




                                    </form>
                                    <div ng-repeat="person in showCase.persons">
                                        <div ng-attr-id="{{ 'modal-' + $index }}" class="modal fade" role="dialog">


                                                <!-- Modal content-->

                                                <div class="modal-content">
                                                    <div class="close-modal" data-dismiss="modal">
                                                        <div class="lr">
                                                            <div class="rl">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">{{person.firstName}}</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="box box-default box-solid">
                                                                    <div class="box-header with-border">
                                                                        <h3 class="box-title">강좌</h3>
                                                                        <div class="box-tools pull-right">
                                                                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                    <div class="box-body">
                                                                        <p>몰라 시이벌</p>
                                                                    </div>


                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>


                                                </div>

                                            </div>

                                    </div>
                            </div>

                        </div>
            </div>



                    <!-- /.box-body -->
                </div>
                <div class="box box-danger">
                    <div class="box-header">
                        <h3 class="box-title">학생 퇴원</h3>
                    </div>
                    <div class="box-body">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-danger">퇴원</button>
                            </div>
                            <!-- /btn-group -->
                            <input type="text" class="form-control" placeholder="퇴원한 학생을 입력하세요">
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>

                <!-- /.box -->



    </section>

    <!-- /.content -->
</div>
