<div class="modal fade lecture1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="lecture_header">
            <span class="lecture_title">미적분1심화과정</span><br>
            <span class="lecture_teacher">이정현</span>
        </div>
        <div class="row">
            <div class="student_info">


                <div class="col-md-6">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">학생</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-bordered">
                                <tr>
                                    <th style="width: 5px">#</th>
                                    <th style="width: 70px">이름</th>
                                    <th style="width: 75px">학년</th>
                                    <th style="width: 70px">학교</th>
                                </tr>
                                <tr>
                                    <td>1.</td>
                                    <td>도경구</td>
                                    <td>
                                        중1
                                    </td>
                                    <td>생각중</td>
                                </tr>
                                <tr>
                                    <td>2.</td>
                                    <td>이정규</td>
                                    <td>
                                        예비중2
                                    </td>
                                    <td>이화여중</td>
                                </tr>
                                <tr>
                                    <td>3.</td>
                                    <td>김영훈</td>
                                    <td>
                                        초6

                                    </td>
                                    <td>컴퓨터중</td>
                                </tr>
                                <tr>
                                    <td>4.</td>
                                    <td>스캇</td>
                                    <td>
                                        고3
                                    </td>
                                    <td>공부중</td>
                                </tr>
                            </table>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer clearfix">
                            <ul class="pagination pagination-sm no-margin pull-right">
                                <li><a href="#">&laquo;</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--두번째 표-->
                <div class="col-md-6">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">강좌일정</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-bordered">
                                <tr>
                                    <th style="width: 5px">#</th>
                                    <th style="width: 70px">요일</th>
                                    <th style="width: 75px">시간</th>
                                    <th style="width: 70px">학교</th>
                                </tr>
                                <tr>
                                    <td>1.</td>
                                    <td>화요일</td>
                                    <td>
                                        02:00~05:00
                                    </td>
                                    <td>생각중</td>
                                </tr>
                                <tr>
                                    <td>2.</td>
                                    <td>목요일</td>
                                    <td>
                                        03:00~05:00
                                    </td>
                                    <td>이화여중</td>
                                </tr>
                                <tr>
                                    <td>3.</td>
                                    <td>김영훈</td>
                                    <td>
                                        초6

                                    </td>
                                    <td>컴퓨터중</td>
                                </tr>
                                <tr>
                                    <td>4.</td>
                                    <td>스캇</td>
                                    <td>
                                        고3
                                    </td>
                                    <td>공부중</td>
                                </tr>
                            </table>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer clearfix">
                            <ul class="pagination pagination-sm no-margin pull-right">
                                <li><a href="#">&laquo;</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>