<section class="success" id="about">
    <div class="container">
        <div class="row" ng-app="timeTable">
            <div class="col-lg-12 text-center">
                <h2>Timetable.js</h2>
                <!-- Large modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button>

                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <span>학생</span>
                        </div>
                    </div>
                </div>
            </div>
            <br><br><br><br><br><br><br>
        </div>
    </div>
</section>