<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Timetable.js</h2>
                <div ng-app="myApp">
                    <div ng-controller="MainCtrl">
                        <label for="hour">hours</label>
                        <input id="hour" class="form-control" type="text" ng-model="hours">
                        <label for="starth">start hour</label>
                        <input id="starth" class="form-control" type="text" ng-model="starthour">
                        <div main-table slots="slots"></div>
                    </div>
                </div>
            </div>

            <br><br><br><br><br><br><br>
        </div>
    </div>
</section>