<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="img/profile.png" width="180px" height="180px" alt="">
                <div class="intro-text">
                    <span class="name">윤지우</span><br>
                    <span class="skills"><i class="xi-school"> 부산외국어고등학교</i></span><br>
                    <span class="skills"><i class="xi-cake"> 1995.05.11</i></span><br>
                    <span class="skills"><i class="xi-pen"> 고1</i></span><br>
                    <span class="skills"><i class="xi-mobile"> 학생 번호: 010-1234-5678</i></span><br>
                    <span class="skills"><i class="xi-call"> 학부모 번호: 00-1234-5678</i></span>
                </div>
            </div>
        </div>
    </div>
</header>