<!DOCTYPE html>
<html lang="ko" ng-app="sumisaApp">

<head>
    <% include header/header.ejs %>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>-->

</head>
    <body id="page-top" class="index">
        <!-- Main Section -->
        <% include body/body.ejs %>
        <!--<script src="/javascripts/angular.min.js"></script>-->
        <!--<script src="/javascripts/login/app.js" type="text/javascript"></script>-->
    </body>

    <!-- Footer -->
    <% include footer/footer.ejs%>

<script src="/javascripts/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-cookies.js"></script>

<script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/2.2.0/angularfire.min.js"></script>
<!--<script src="/javascripts/login/app.js" type="text/javascript"></script>-->

<script>
    // Initialize Firebase
    var fconfig = {
        apiKey: "AIzaSyAnf59-0cgsAcDmplvQKHcXYCmTySAv3GA",
        authDomain: "sumisa-50c79.firebaseapp.com",
        databaseURL: "https://sumisa-50c79.firebaseio.com",
        storageBucket: "sumisa-50c79.appspot.com",
        messagingSenderId: "692869677834"
    };
    firebase.initializeApp(fconfig);
</script>
<script src="/app/app.module.js"></script>

<script src="/app/student/student.module.js"></script>
<script src="/app/student/controllers/student.controller.js"></script>
<script src="/app/student/services/student.service.js"></script>

<script src="/app/login/login.module.js"></script>
<script src="/app/login/controllers/login.controller.js"></script>
<script src="/app/login/services/login.service.js"></script>

</html>