<!DOCTYPE html>
<html lang="ko">

<head>
    <% include header/header.ejs %>
</head>

    <body id="page-top" class="index">
        <!-- Main Section -->
        <% include body/body.ejs %>
    </body>

    <!-- Footer -->
    <% include footer/footer.ejs%>
</html>