<!DOCTYPE html>
<html lang="ko" ng-app = "studentApp">

<head>
    <% include header/header.ejs %>
</head>
    <body id="page-top" class="index">
        <!-- Main Section -->
        <% include body/body.ejs %>
        <script src="/javascripts/angular.min.js"></script>
        <script src="/javascripts/login/app.js" type="text/javascript"></script>
    </body>

    <!-- Footer -->
    <% include footer/footer.ejs%>
</html>