<!DOCTYPE html>
<html lang="ko" ng-app="sumisaApp">

    <head>
        <% include header/header.ejs %>
    </head>

    <body id="page-top" class="index">
        <% include body/body.ejs %>
    </body>

    <% include ../angularFooter/angularFooter.ejs%>
    <% include footer/footer.ejs%>

</html>