<!DOCTYPE html>
<html lang="ko">

<head>

    <% include header/header.ejs %>

</head>

    <body id="page-top" class="index">

        <!-- Navigation -->
        <% include body/nav.ejs %>


        <!-- Main Section -->
        <% include body/body.ejs %>


        <!-- Footer -->
        <% include footer/footer.ejs%>
    </body>


</html>