<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            강좌페이지
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Large modal -->
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>미적분1 심화과정</h3>
                            <p>이정현</p>
                        </div>
                        <div class="icon">
                            <a href="#" class="small-box-footer" data-toggle="modal" data-target=".lecture2"><i class="fa fa-pencil-square-o"></i></a>
                        </div>
                        <a href="#" class="small-box-footer" data-toggle="modal" data-target=".lecture1">
                            자세히보기 <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-red">
                        <div class="inner">
                            <h3>수1 기본과정</h3>
                            <p>권준형</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-pencil-square-o"></i>
                        </div>
                        <a href="#" class="small-box-footer" data-toggle="modal" data-target=".bs-example-modal-lg">
                            자세히보기 <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
            </div>


        </div>
    </section>




    <!-- Your Page Content Here -->


    <!-- /.content -->
</div>
<!-- /.content-wrapper -->