<section id="portfolio" class="portfolio">
    <div class="container">

            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>강좌별 학생정보</h2>
                        <hr class="primary">
                    </div>
                    <br>
                </div>
                <div class="row">
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <h4 class="caption-text bg-primary"><i class="fa fa-book fa-2x"></i><br><br>미적분 심화과정</h4>
                        </a>
                    </div>
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <h4 class="caption-text bg-primary"><i class="fa fa-book fa-2x"></i><br><br>수1 기본과정</h4>
                        </a>
                    </div>
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <h4 class="caption-text bg-primary"><i class="fa fa-book fa-2x"></i><br><br>기벡 심화과정</h4>
                        </a>
                    </div>
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <h4 class="caption-text bg-primary"><i class="fa fa-book fa-2x"></i><br><br>성교육 특강</h4>
                        </a>
                    </div>

                    </div>
                </div>
            </div>


        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>